<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Fermer</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    {{#get "tags" include="count.posts" order="count.posts DESC"}}
        <span class="tag-title">Sujets</span>
        <ul class="tag-list">
            {{#foreach tags}}
                <li><a href="{{url}}">{{name}}</a></li>
            {{/foreach}}
        </ul>
    {{/get}}
    {{#if @labs.subscribers}}
        <a class="subscribe-button" href="{{@blog.url}}/subscribe/">S'abonner</a>
    {{else}}
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">S'abonner</a>
    {{/if}}
</div>
<span class="nav-cover"></span>
